.scenario {
	display : flex;
	flex-direction : row;
	align-items : center;
	border: 1px solid #a3bedc;
	border-radius: 10px;
	margin : 1%;
	background-color: white;
	min-width: 300px;
    padding : 10px;
}

.scenario_number > h2 {
	text-align: center;
}

.scenario_number {
	flex: 1;
}

.scenario_element {
	flex: 2;
}

.img_scenario_vertical {
	max-width : 100%;
	max-height : 250px;
}

.img_scenario_horizontal {
	max-width : 100%;
	max-height : 250px;
}

.img_scenario_two_horizontal {
	display : flex;
	flex-direction : row;
	align-items : center;
	background-color: white;
}

.img_scenario_two_horizontal > img {
	flex : 1;
	max-width: 50%;
}
