.scenario {
	display : flex;
	flex-direction : row;
	align-items : center;
	margin : 10px;
	border: 1px solid #a3bedc;
	border-radius: 10px;
	background-color: white;
}

.scenario > h2 {
	padding-right : 30px;
	padding-left: 15px;
}

.scenario_element {
	flex: 1;

}

.img_scenario_vertical {
	max-width : 300px;
	max-height : 400px;
}

.img_scenario_horizontal {
	max-width : 400px;
	max-height : 300px;
}

.img_scenario_two_horizontal {
	display : flex;
	flex-direction : row;
	align-items : center;
	margin : 10px;
	background-color: white;
}
