navigation_bar {
	
}

.nav_ul {
list-style-type: none;
	background-color : #333;
	display : flex;
	align-items : center;
}

.nav_li {
	padding: 24px 30px;
	text-align : center;
	flex: 1;
}

.nav_li > a {
	text-decoration: none;
	color: white;
}

.main_scenario {
	display : flex;
	flex-direction: column;
	align-items: center;
}

.scenario {
	display : flex;
	flex-direction : row;
	align-items : center;
}

.scenario_element {
	flex: 1;
}

.img_scenario_vertical {
	max-width : 300px;
	max-height : 400px;
}

.img_scenario_horizontal {
	max-width : 400px;
	max-height : 300px;
}
